<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <form method="POST" action="/auth/patientSignup">
        <h2>Signup</h2>
        <input type="text" name = "name" placeholder = "enter your Name">
        <input type="email" name = "email" placeholder = "enter your email address">
        <input type="password" name = "password" placeholder = "enter your password">
        <input type="password" name = "passwordConfirm" placeholder = "enter password again">

        <button type = "submit">Signup</button>
    </form>
    <a href="/patientLogin">login</a>

    
</body>
</html>