<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new account</title>
    <link rel="stylesheet" href="../stylesheets/patientSignup.css">
</head>
<body>

    <img class="wave" src="../assets/signup/wave.png">
	<div class="container">
		<div class="img">
			<img src="../assets/signup/bg.svg">
		</div>
		<div class="login-content">

			<form method="POST" action="/auth/patientSignup">
				<img src="../assets/signup/avatar.svg">
				<h2 class="title">Create a new account</h2>
                <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                            <h5>Name</h5>
                            <input type="Text" class="input" name = "name">
                    </div>
                 </div>   
                
                <div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Email</h5>
           		   		<input type="Email" class="input" name = "email">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input"  name = "password">
            	   </div>
                </div>
                <div class="input-div pass">
                    <div class="i"> 
                         <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                         <h5>Confirm Password</h5>
                         <input type="password" class="input"  name = "passwordConfirm">
                 </div>
              </div>
                <input type="submit" class="btn" value="SignUp">
                
                <h5 id= "signup">already have an account? <a href="/patientLogin">Login here!</a></h5> 
            </form>
        </div>
    </div>
    <script type="text/javascript" src="../js/patientSignup.js"></script>

    































   
    <form method="POST" action="/auth/patientSignup">
        <h2>Signup</h2>
        <input type="text" name = "name" placeholder = "enter your Name">
        <input type="email" name = "email" placeholder = "enter your email address">
        <input type="password" name = "password" placeholder = "enter your password">
        <input type="password" name = "passwordConfirm" placeholder = "enter password again">

        <button type = "submit">Signup</button>
    </form>
    <a href="/patientLogin">login</a>

    
</body>
</html>